{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    {% if error %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <form method="POST" action="{% url 'loginaccount' %}">
                        {% csrf_token %}
                        <fieldset style="border: 2px solid #000; padding: 20px; border-radius: 5px;">
                            <legend class="text-center">Personal Information</legend>
                            <hr>
                            <div class="mb-3">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div class="mb-3">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="mb-3">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </div>
                            <hr>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                            {% if error %}
                            <div class="alert alert-danger mt-2 ">
                                {{ error }}
                            </div>
                            {% endif %}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
